<body>
    <!-- Header -->
    <header>
        <div class="bandeau">
            <a routerLink="/"><img class="logo_doogly" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
        </div>
    </header>
    
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
				<a routerLink="/sport">Sport-Canin</a>
                <a routerLink="/home">Accueil</a>
				<a routerLink="/garderie">Garderie</a>
				<a routerLink="/veterinaire">Vétérinaire</a>
				<a routerLink="/calendrier">Calendrier</a>
				<a routerLink="/nutritionniste">Nutritionniste</a>
			  </div>
			  <span class="final" style="cursor:pointer" onclick="closeNav()">&#9776; menu</span>

      

    <!-- Main -->
        <section id="main">
            <div class="inner">

            <!-- One -->
                <section id="one" class="wrapper style1">

                    <div class="image fit flush">
                        <img src="assets/images/massage.jpg" alt="" />
                    </div>
                    <span class="special">
                        <h2>Masseur</h2>
                    </span>
                    <div class="content">
                        <p>Le site Doogly vous met en relation avec un service de massage pour votre chien.
                            Le massage canin accélère la circulation du sang et de la lymphe. 
                            Il permet les mêmes effets que chez l’homme en ajoutant des résultats impressionnant sur les chiens souffrant de l’arthrose, les chiens ayant des problèmes de mobilité. 
                            Fortement favorisé pour les chiens de travail, sportif ou encore en processus de vieillissement. 
                            Le massage canin est l’une des technique les plus recommandés pour des chiens en 
                            période de stress !</p></div>
                </section>
            </div>
            </section>
</body>
