<body>
    <!-- Header -->
    <header>
        <div class="bandeau">
            <a routerLink="/"><img class="logo_doogly" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
        </div>
    </header>
    
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
                <a routerLink="/home">Accueil</a>
                <a routerLink="/massage">Masseur</a>
				<a routerLink="/sport">Sport-Canin</a>
				<a routerLink="/garderie">Garderie</a>
				<a routerLink="/veterinaire">Vétérinaire</a>
				<a routerLink="/calendrier">Calendrier</a>
			  </div>
			  <span class="final" style="cursor:pointer" onclick="closeNav()">&#9776; menu</span>

      

    <!-- Main -->
        <section id="main">
            <div class="inner">

            <!-- One -->
                <section id="one" class="wrapper style1">

                    <div class="image fit flush">
                        <img src="assets/images/nutri.jpg" alt="" />
                    </div>
                    <span class="special">
                        <h2>nutritionniste</h2>
                    </span>
                    <div class="content">
                        <p>Saviez-vous que les croquettes sont l’un des pires aliments pour notre chien ? Effectivement, notre chien a besoin de plus de 60 % de viande dans leur repas, cependant les croquettes leur laisse juste 5 % de viandes et le reste sont des composés de compostes ou encore de blé. 
                            Notre nutritionniste vous fera une expertise de votre chien en trouvant les composants aux grammes de ce qui lui convient selon son activité sportive et son nombre de sorties dans la journée.</p></div>
                </section>
            </div>
            </section>
</body>
