html {
    font-family: 'Titillium Web', sans-serif;
}
body {
    color: white;
    background-color: black ;
}
.navbar {
    background-color: white;
    height: 140px;
    padding: 0px 0px -100px 0px;
    margin : -10px -8px 0px -8px;
}

.navbar img {
    width: 180px; /*largeur*/
    height: 140px; /*hauteur*/
}

.navbar img:hover {
    opacity:  0.33;
}

.navbar a {
    text-align: left
}
.navbar-ul a {
    color: black;
    text-decoration: none;
}
.nav-item1 {
    float: right;
    list-style: none;
    margin: -40px 150px 0px 0px;
}
.nav-item1:hover {
    text-decoration: underline;
    font-weight: 700;
}
.nav-item2 {
    float: right;
    list-style: none;
    margin: -40px 40px 0px 0px;
}
.nav-item2:hover {
    text-decoration: underline;
    font-weight: 700;
}
h1 {
    text-align: center;
    color: black;
    margin: -100px 0px 0px 0px;
    font-size: 32px;
}
.py-4 {
    text-align: center;
    padding: 70px 0px 0px 0px;
}

/*---------------------------------------
CSS LOG IN
---------------------------------------*/

.titre-log-in {
    padding: 0px 0px 70px 0px;
    font-size: 25px
}

.form-group-log-in {
    color: white;
    padding: 10px 0px 0px 0px;
}
.form-group-log-in-2 {
    padding: 14px 0px 0px 0px;
}
.form-group-log-in-3 {
    padding: 14px 0px 0px 0px;
    font-size: 14px;
}
.form-group-log-in-4 {
    padding: 30px 0px 0px 0px;
}
.form-group-log-in-5 a {
    color: white;
    font-size: 12px;
}
.bouton-log-in {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding: 10px 32px 10px 32px;
}
.bouton-log-in:hover {
    border:solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}
.bouton-log-in:hover, input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.invalid-mail {
    color:red;
    font-weight: 700;
}

/*---------------------------------------
CSS REGISTER
---------------------------------------*/

.titre-register {
    padding: 0px 0px 70px 0px;
    font-size: 25px
}

.form-group-register{
    color: white;
    padding: 10px 0px 0px 0px;
}
.form-group-register-2 {
    padding: 14px 0px 0px 0px;
}
.form-group-register-3 {
    padding: 14px 0px 0px 0px;
}
.form-group-register-4 {
    padding: 14px 0px 0px 0px;
}
.form-group-register-5 a {
    color: white;
    font-size: 12px;
}
.bouton-register {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding: 10px 32px 10px 32px;
    margin: 30px 0px 0px 0px;
}
.bouton-register:hover {
    border:solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}
.bouton-register:hover, input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*---------------------------------------
CSS Home
---------------------------------------*/

.titre-home {
    float: right;
    margin-top: 10px;
    font-size: 15px;
}

.titre-catalogue {
    color: white;
    font-size: 50px;
    float: top;
    margin-top: -60px;
    margin-left: 0px;
    font-weight: 500;
    margin-bottom: 30px;
}
.body-home {
    font-size: 20px;
}
.navbar-ul .liaison-panier img {
    width: 25px; /*largeur*/
    height: 25px; /*hauteur*/
    float: right;
    margin: -70px 20px 0px 0px;
}
.nav-item-user-home {
    margin: -40px 150px 0px 0px;
}

.nav-item-user-home {
    float: right;
    list-style: none;
    margin: -40px 100px 0px 0px;
}

.nav-item-user-home:hover {
    text-decoration: underline;
    font-weight: 700;
}

.nav-item-log-out-home {
    float: right;
    list-style: none;
    margin: -40px 10px 0px 0px;
}

.nav-item-log-out-home:hover {
    text-decoration: underline;
    font-weight: 700;
}


#general-home-1 {
    width: 100%; /*largeur*/
}
#moncadre-1 {
    width: 25%;
    float: left;
    margin: 0px 0px 35px 0px;

}
#moncadre-2 {
    width: 25%;
    float: right;
}
#moncadre-3 {
    width: 25%;
    float: right;
}
#moncadre-4 {
    width: 25%;
    float: right;
}
#general-home-1 p {
    font-weight: 700;
    font-size: 18px;
}

.bouton1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding: 7px 13px 7px 13px;
}
.bouton1:hover {
    border: solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.bouton2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    border:solid 1px #fff;
    background: white;
    color: black !important;
    padding: 7px 13px 7px 13px;
}
.bouton2:hover {
    border: solid 1px #fff;
    background: transparent;
    color: white !important;
}
#general-home-2 {
    width: 100%; /*largeur*/
}
#general-home-2 p {
    font-weight: 700;
    font-size: 18px;
}
#general-home-2 img {
    margin: 40px 0px 0px 0px;
}
#general-home-3 {
    width: 100%; /*largeur*/
}
#general-home-3 p {
    font-weight: 700;
    font-size: 18px;
}
#general-home-3 img {
    margin: 40px 0px 0px 0px;
}

/*---------------------------------------
CSS panier
---------------------------------------*/
body {
    background-color: black;
}

td, th
{
    border: 4px solid white;
    color: white;
    padding: 0px 15px 0px 15px;
    font-weight: 700;
}
.bouton-delete1{
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: black;
    color: white !important;
    padding: 0px 15px 0px 15px;
}
.bouton-delete1:hover {
    border:solid 1px #fff;
    background: transparent;
    color: black !important;
}
.rs-quantity-selector select {
    font-size: 15px;
    font-weight: 700;
    height: 1.41176rem;
    border: 0;
}
/*---------------------------------------
CSS email
---------------------------------------*/
.card-body {
    font-size: 16px;
}
/*---------------------------------------
CSS produit
---------------------------------------*/

.bouton-produit1 {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding: 3px 12px 3px 12px;
}
.bouton-produit1:hover {
    border:solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}
.bouton-produit1:hover, input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/*---------------------------------------
CSS formulaire
---------------------------------------*/

.formulaire {
    font-weight: 700;
}
.bouton-formulaire {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding:3px 12px 3px 12px;
}
.bouton-formulaire:hover {
    border:solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}
.bouton-formulaire:hover, input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#cadre {
    padding: 5px 0px 0px 0px;
    float: left;
    margin-left: 65px;
    margin-top: -5px;
}

element.style {
    width: 2.05882rem;
}
.formulaire select {
    font-size: 16px;
    line-height: 1.16667;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: .009em;
    color: #111;
    height: 1.7rem;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    display: inline-block;
}


#moncadre-1 img {
    width: 350px;
    height: 250px;
}

#panier img{
    width: 150px;
    height: 100px;
}

#panier {
    width: 15%;
    float: left;
    margin: 0px 0px 35px 0px;

}


.produit_image img {
    float: left;
    padding-left: 250px;
    padding-top: 25px;
    height: 300px;
    width: 400px;
}

.general_product {
    float: top;
    font-size: xx-large;
}

.produit_1 {
    font-size: 65px;
    float: top;
    margin-top: -55px;
}


.produit_description {
    float: top;
    font-size: 45px;
    font-style: italic;
    margin-top: 100px;
}


.produit_price {
    float: top;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 100px;
}


.produit_stock {
    float: left;
    font-size: 17px;
    margin-bottom: 100px;
    margin-left: 205px;
}

.produit_quantity {
    float: left;
    font-size: 20px;
    margin-left: 200px;
}

.bouton_quantity {
    float: left;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 5px;
}


.catalogue_stock {
    font-size: 15px;
    font-style: italic;
}


.p0 {
    font-size: 17px;
    position: fixed;
    bottom: -10px;
    left: 500px;
    right: 500px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
}


.fa-twitter {
    background-color:#4AA0EB;
    color: white;
    position: fixed;
    right: 90px;
    bottom: 10px;
}

.fa-facebook {
    background-color: blue;
    color: white;
    position: fixed;
    right: 5px;
    bottom: 10px;
}


.option_to_buy {
    float: right;
    margin-right: 280px;
    margin-top: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding:3px 12px 3px 12px;
}


.option_to_buy:hover {
    border:solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}


.option_to_buy, input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.bouton_delete {
    float: left;
    margin-left: 600px;
    margin-top: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding: 3px 12px 3px 12px;
}
.bouton_delete:hover {
    border:solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}
.bouton_delete:hover, input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

table {
    border-collapse: collapse;
}

.title_tableau {
    font-size: 35px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    color: #0C9A9A;
}

.js-cookie-consent.cookie-consent {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 10px;
    text-align: left;
    width: 100%;
    background-color: transparent;
}
span.cookie-consent__message {
    color: white;
}
button.js-cookie-consent-agree {
    border: none;
    border-radius: 3px;
    background: #f4645f;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
}


.bouton_submit {
    float: right;
    margin-left: 600px;
    margin-top: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    border:solid 1px #fff;
    background: transparent;
    color: #fff !important;
    padding: 3px 12px 3px 12px;
}
.bouton_submit:hover {
    border:solid 1px #fff;
    background: #fff;
    color: #1f1f1f !important;
}
.bouton_submit:hover, input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
