<body>
    <!-- Header -->
    <header>
        <div class="bandeau">
          <a routerLink="/"><img class="logo_doogly" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
        </div>
    </header>
    
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
                <a routerLink="/home">Accueil</a>
                <a routerLink="/massage">Masseur</a>
				<a routerLink="/veterinaire">Véterinaire</a>
				<a routerLink="/nutritionniste">Nutritionniste</a>
				<a routerLink="/calendrier">Calendrier</a>
				<a routerLink="/garderie">Garderie</a>
			  </div>
			  <span class="final" style="cursor:pointer" onclick="closeNav()">&#9776; menu</span>

      

    <!-- Main -->
        <section id="main">
            <div class="inner">

            <!-- One -->
                <section id="one" class="wrapper style1">

                    <div class="image fit flush">
                        <img src="assets/images/sport.jpg" alt="" />
                    </div>
                    <span class="special">
                        <h2>Sport Canin</h2>
                    </span>
                    <div class="content">
                        <p>Le sport est un des moteurs de votre chien ! Il lui permet déjà de ne pas être en surpoids mais aussi retarde la venue de l’arthrose des chiens !
                            Le site Doogly vous met en relation qui justement vous permet de pratiquer le sport qui convient à vous et votre chien dans un contexte de sécurité. 
                            Pour pouvoir performer dans un sport, il faut que le chien soit éduquer et le
                            sport est aussi l’un des axes le plus rapide afin que votre chien soit à
                            votre écoute! 
                            Donc si vous souhaitez vous remettre en forme vous et votre chien tout en améliorant votre solidarité n’hésitez plus et venez essayer une séance.</p></div>
                </section>
            </div>
            </section>
</body>
