<body>
    <header>
      <div class="bandeau">
        <a routerLink="/"><img class="image" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
      </div>
    </header>  
  
  <div class="section1">
  
    <div class="formulaire">
  
      <div class="center fadeInDown">
  
        <h2><a class="active underlineHover" routerLink="/login">Se connecter</a></h2>
        <h2 class="inactive">S'inscrire</h2>
  
       <form>
          <input type="text" class="fadeIn second" placeholder="Nom d'utilisateur" required/>
          <input type="email" class="fadeIn third" placeholder="E-mail" required/>
          <input type="password" class="fadeIn fourth" placeholder="Mot de passe" required/>
          <input type="password" class="fadeIn five" placeholder="Confirmation du Mot de passe" required/>
          <input type="submit" class="fadeIn fourth" routerLink="/personal-page" value="Inscription" onclick="afficher()"/>
        </form>
    </div>
  
    </div>
    </div>
  </body>