<header>
    <div class="bandeau">
    <a routerLink="/"><img class="image" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
    </div>
  </header>

<div class="section1">

  <div class="formulaire">

    <div class="center fadeInDown">

      <h2><a class="active underlineHover" routerLink="/personal-page">Interface Utilisateur</a></h2>
      <h2><a class="active underlineHover" routerLink="/pro-page">Interface Professionnelle</a></h2>

     <form>
        <input type="tel" class="fadeIn second" placeholder="Numéro de téléphone" required/>
        <input type="text" class="fadeIn third" placeholder="Adresse" required/>
        <input type="number" min="0" max="100000" class="fadeIn third" placeholder="Code postal" style="-moz-appearance: textfield" required/>
        <input type="text" class="fadeIn third" placeholder="Ville" required/>
        <input type="number" min="0" max="100000" class="fadeIn third" placeholder="Siret N°" style="-moz-appearance: textfield" required/>
        <input type="submit" class="fadeIn fourth" value="Finaliser l'inscription" onclick="confirm_compte()"/>
      </form>
  </div>

  
  </div>
  </div>