<header>
    <div class="bandeau">
      <img class="image" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/>
    </div>
</header>
<main>
  <div class="section1">

    <div class="formulaire">

      <div class="center fadeInDown">
        
        <h2><a class="inactive underlineHover" routerLink="/login">Se connecter</a></h2>
      <h2><a class="inactive underlineHover" routerLink="/register">S'inscrire</a></h2>


    
        <form>
          <input type="email" class="fadeIn second"  placeholder="E-mail" required>
          <input type="submit" class="fadeIn fourth" value="Réinitialiser mot de passe" onclick="confirm_password()">
        </form>
      </div>
    </div>
  </div>
</main>
