<body>
    <!-- Header -->
    <header>
        <div class="bandeau">
            <a routerLink="/"><img class="logo_doogly" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>   
        </div>
    </header>
    
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
                <a routerLink="/home">Accueil</a>
                <a routerLink="/massage">Masseur</a>
				<a routerLink="/sport">Sport-Canin</a>
				<a routerLink="/garderie">Garderie</a>
				<a routerLink="/nutritionniste">Nutritionniste</a>
				<a routerLink="/calendrier">Calendrier</a>
			  </div>
			  <span class="final" style="cursor:pointer" onclick="closeNav()">&#9776; menu</span>

      

    <!-- Main -->
        <section id="main">
            <div class="inner">

            <!-- One -->
                <section id="one" class="wrapper style1">

                    <div class="image fit flush">
                        <img src="assets/images/veterinaire.jpg" alt="" />
                    </div>
                    <span class="special">
                        <h2>Vétérinaire</h2>
                    </span>
                    <div class="content">
                        <p>LToutes ces disciplines tournent autour d’un grand secteur, le vétérinaire. 
                            Toutes les personnes possédant un animal doit aller voir un vétérinaire afin de faire vacciner son animal afin d’éviter tous risque de maladie grave . 
                            Nous disposons d’une clinique vétérinaire ouverte 24/24 7/7. 
                            Nous disposons de toutes les dernières technologies en santé médical. 
                            Si vous êtes parmi notre structure, vous aurez directement accès au service médical. Pour la plus part des services cités précédemment , une visite médical sera requis ou à faire sur place afin de ne pas prendre de risques pour les autres chiens.</p></div>
                </section>
            </div>
            </section>
</body>
