.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidenav a {
  margin: 10%;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  }
  
  .sidenav a:hover {
  color: white;
  background-color:
  #F25156
  ;
  padding: 5%;
  margin: 0%;
  }
  
  .sidenav a.closebtn {
  background-color: white;
  }
  .sidenav a.closebtn:hover {
  color: black;
  }
  span {
  color: white;
  float: right;
  background-color:
  #F25156
  ;
  font-size: 20px;
  margin-top: -27px;
  }
  span:hover {
  color: black;
  }
  
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
  @media screen and (max-height: 320px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
  }
  
  
  .profil {
  position: absolute;
  right: 20px;
  top: 10px;
  }
  .logo_doogly {
  width: 15%;
  }
  .bandeau {
  background-color:
  #F25156
  ;
  padding: 10px;
  width: 101%;
  margin-left: -16px;
  margin-top: -7px;
  }
  
  #calendar {
  margin-top: 200px;
  } 