<header>
    <div class="bandeau">
        <a routerLink="/"><img class="logo_doogly" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
    </div>
</header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
        <a routerLink="/home">Accueil</a>
        <a routerLink="/massage">Masseur</a>
        <a routerLink="/sport">Sport-Canin</a>
        <a routerLink="/garderie">Garderie</a>
        <a routerLink="/veterinaire">Véterinaire</a>
        <a routerLink="/nutritionniste">Nutritionniste</a>
    </div>
        <span style="cursor:pointer" onclick="closeNav()">&#9776; menu</span> 

        <div id="calendar"></div>
