<header>
	<div class="bandeau">
	  <a routerLink="/"><img class="logo_doogly" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
	</div>
</header>
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
				<a routerLink="/garderie">Garderie</a>
				<a routerLink="/veterinaire">Véterinaire</a>
				<a routerLink="/nutritionniste">Nutritionniste</a>
				<a routerLink="/calendrier">Calendrier</a>
				<a routerLink="/massage">Masseur</a>
				<a routerLink="/sport">Sport-Canin</a>

				

			  </div>
			
			  <span style="cursor:pointer" onclick="closeNav()">&#9776; menu</span>

			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Qualité</h2>
						<p>Un service à la mesure de vos attentes</p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="assets/images/jeu-chien.jpg" alt="Pic 01" />
							</div>
							<div class="bas">
							<header>
								<h3>Masseur</h3>
							</header>
							<p>Le site Doogly vous met en relation avec un service de massage pour votre chien.
								Le massage canin accélère la circulation du sang et de la lymphe.
								Il permet les mêmes effets que chez l’homme en ajoutant des résultats impressionnants sur les chiens souffrant d'arthrose, les chiens ayant des problèmes de mobilité.
								Fortement favorisé pour les chiens de travail, sportif ou encore en processus de vieillissement.
								Le massage canin est l’une des techniques les plus recommandées pour des chiens en
								période de stress ! </p>
							<footer>
								<a routerLink="/massage" class="button special">Plus d'infos</a> 
							</footer>
						</div>
						</article>
						<article>
							<div class="image2 fit2">
								<img src="assets/images/chien2.jpg" alt="Pic 02" />
							</div>
							
							<header>
								<h3>Sport-Canin</h3>
							</header>
							<p>Le sport est essentiel pour votre chien ! Il lui permet déjà de ne pas être en surpoids mais aussi retarde la venue de l’arthrose des chiens !
								Le site Doogly vous met en relation avec des professionnels dans le but de leur permettre de pratiquer le sport qui leur convient à votre chien dans un contexte de sécurité.
								Pour pouvoir performer dans un sport, il faut que le chien soit éduquer et le
								sport est aussi l’un des axes les plus rapides afin que votre chien soit à
								votre écoute!
								Donc si vous souhaitez vous remettre en forme vous et votre chien tout en améliorant votre solidarité n’hésitez plus et venez essayer une séance. </p>
							<footer>
								<a routerLink="/sport" class="button special">Plus d'infos</a> 
							</footer>
						</article>
					</div>
				</div>
			</section>

			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>

						<h2>Nos Éducateurs Canins</h2>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="assets/images/pic03.jpg" alt="Person 1" />
							</div>
							<p>GUEYE Abdoulaye</p>
							<p>06.80.72.14.16</p>
							<a routerLink="/calendrier" class="button special">Réservation</a>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="assets/images/pic04.jpg" alt="Person 2" />
							</div>
							<p>MARTIN Aurore</p>
							<p>06.24.91.77.36</p>
							<a routerLink="/calendrier" class="button special">Réservation</a>

						</div>
						<div class="box person">
							<div class="image round">
								<img src="assets/images/pic05.jpg" alt="Person 3" />
							</div>
							<p>POTTIN Baptiste</p>
							<p>06.16.79.06.31</p>
							<a routerLink="/calendrier" class="button special">Réservation</a>

						</div>
						<div class="box person">
							<div class="image round">
								<img src="assets/images/pic06.jpg" alt="Person 4" />
							</div>
							<p>DUPONT Sandrine</p>
							<p>06.84.16.12.20</p>
							<a routerLink="/calendrier" class="button special">Réservation</a>

						</div>
					</div>
				</div>
			</section>

			
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Garderie</h3>
							</header>
							<p>Vous partez pendant une journée pour aller au travail, à la place de laisser votre
								chien seul, faites-le garder.
								Plus raison d’avoir peur que son animal soit triste, qu'il s’ennuie ou qu'il détruise ! Maintenant votre chien sera entouré par des experts qui l’épuiseront mentalement et physiquement de façon positive. 
								En proposant des activités de réflexion telles que la reproduction de mouvements ou des activités sportives, votre chien ne se sentira jamais aussi bien !</p>
							<footer>
								<a routerLink="/garderie" class="button special">Plus d'infos</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Vétérinaire</h3>
							</header>
							<p>Toutes ces disciplines tournent autour d’un grand secteur, le vétérinaire. 
							   Toutes les personnes possédant un animal doivent aller voir un vétérinaire dans le but de faire vacciner son animal afin d’éviter tout risque de maladie grave. 
								Nous disposons d’une clinique vétérinaire ouverte 24/24 7/7. 
								Nous disposons de toutes les dernières technologies en santé médicale. 
								Si vous êtes parmi notre structure, vous aurez directement accès au service médical.</p>
							<footer>
								<a routerLink="/veterinaire" class="button special">Plus d'infos</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Nutritionniste</h3>
							</header>
							<p>Saviez-vous que les croquettes sont l’un des pires aliments pour notre chien ? Effectivement, notre chien a besoin de plus de 60 % de viande dans leur repas, cependant, les croquettes leur laisse juste 5 % de viande et le reste sont composés de composte ou encore de blé. 
								Notre nutritionniste vous fera une expertise de votre chien en trouvant les composants aux grammes de ce qui lui convient selon son activité sportive.</p>
							<footer>
								<a routerLink="/nutritionniste" class="button special">Plus d'infos</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

			
