<body>
    <!-- Header -->
    <header>
        <div class="bandeau">
            <a routerLink="/"><img class="logo_doogly" width="140" alt="Doogly Logo" src="assets/images/doogly.png"/></a>
        </div>
    </header>
    
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
                <a routerLink="/home">Accueil</a>
                <a routerLink="/massage">Masseur</a>
				<a routerLink="/sport">Sport-Canin</a>
				<a routerLink="/veterinaire">Véterinaire</a>
				<a routerLink="/nutritionniste">Nutritionniste</a>
				<a routerLink="/calendrier">Calendrier</a>
			  </div>
			  <span class="final" style="cursor:pointer" onclick="closeNav()">&#9776; menu</span>

      

    <!-- Main -->
        <section id="main">
            <div class="inner">

            <!-- One -->
                <section id="one" class="wrapper style1">

                    <div class="image fit flush">
                        <img src="assets/images/garderie.jpg" alt="" />
                    </div>
                    <span class="special">
                        <h2>Garderie</h2>
                    </span>
                    <div class="content">
                        <p>Le site Doogly vous propose un service de garderie.
                            Vous partez pendant une journée pour aller au travail, à la place de laisser votre
                            chien seul, faites le garder.
                            Plus raison d’avoir peur que son animal soit triste, qui s’ennuie ou qui détruise ! Maintenant votre chien sera entouré par des experts qui l’épuiseront mentalement et physiquement de façon positive. 
                            En proposant des activités de réflexion tel que la reproduction de mouvements ou d’ordre à des activités sportives, votre chien ne sentira jamais aussi bien !</p></div>
                </section>
            </div>
            </section>
</body>
